.container-alt {
    padding: 10px;
}
#title {
    font-size: 3rem;
}
.formula {
    margin-left: 7.5px;
    margin-bottom: 10px;
}
#desc {
    margin-top: 5px;
}
#credits {
    margin-top: 20px;
    font-size: 10px;
}

/* Mobile responsive: Credit and source inline vs different lines */
#credits .source {
    display: block;
}
@media (min-width: 768px) {
    #credits > span:not(:first-child) {
        margin-left: 20px;
        display: inline;
    }
}
#credits .authored {
    font-weight: bold;
}
#credits .source {
    font-style: italic;
}
.area {
    position: relative;
    display: inline-block;
    min-width: 200px;
    vertical-align: top;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}
.area .title {
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
}
.area th, .area td {
    padding-left:10px;
    padding-right:10px;
}
.area .js-table {
    margin: 0 auto;
}
.js-table th, .js-table td {
    vertical-align: top;
}
.doubling-time::before {
    content: "Doubled ";
}
.doubling-time::after {
    content: " days";
}
.predict-doubling-time::before {
    content: "Next at "
}
.fa-link {
    /* opacity: 0; */
    margin-left: .5ch;
    font-size: 1rem;
}
.fa-link:hover {
    opacity: 1;
}
.clickable {
    cursor: pointer;
}
.clickable:hover {
    color: green;
}
.links {
    opacity: .5;
    position: absolute;
    right: 0;
    top: -22.5px;
    margin-top: .25ch;
}
.note {
    opacity: .5;
    position: absolute;
    left: 0;
    top: -22.5px;
    margin-top: .25ch;
}
#nav-global {
    transition: right 2s;
}
#more-graphs {
    width: 22px;
}
@media (max-width:768px) {
    label[for='more-graphs'] {
        /* display:none; */
    }
    .area th, .area td {
        padding: 0 !important;
        text-align: center;
    }
    .area th, .area td:nth-child(3) {
        text-align: left;
        padding-left: 5px !important;
    }
    .percent-change:before {
        content: "+";
    }
    /* #areas {
        text-align: center;
    } */
    .area {
        margin: 10px;
        margin-top: 20px;
        display: block;
    }

}
.hidden {
    visibility: hidden;
}